.image-popup {
    position: relative;
  }
  
  .popup-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .popup-content {
    flex-direction:column;
    align-items: center;
  }
  
  .fade-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }

  .downloadButton {
    --color: #0049a9;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin: 10px;
   }
   
   .downloadButton::before, .downloadButton::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .downloadButton::before {
    top: -1em;
    left: -1em;
   }
   
   .downloadButton::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .downloadButton:hover::before, .downloadButton:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .downloadButton:hover {
    color: rgb(187, 212, 200);
   }
   
   .downloadButton:active {
    filter: brightness(.8);
   }
   