.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:#76ddbe;
    left: 0;
    bottom: 0;
    min-height: calc(100% - 40px);
    padding-bottom:10px; 
  }

  .input-group {
    display: flex;
    align-items: center;
    margin-top: 10px;

  }
  
  .input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 2rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  .subscribe-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin: 10px 10px 10px 0px;
  }
  
  .social-media-container {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 0px;
  }
  
  .social-media-container a {
    margin: 0 20px;
  }
  
  p {
    margin: 0 40px;
  }